import React from 'react'
// eslint-disable-next-line import/no-extraneous-dependencies
import type { Meta } from '@storybook/react'

import <%= featureName %>Entry from '.'
import { ReduxDecorator } from '../../mocks/decorators'
import { setupMocks } from '../mocks/setup-mocks'

export default {
  title: '<%= featureName %>/<%= featureName %>Entry',
  component: <%= featureName %>Entry,
  decorators: [
    (story: () => any) => <div style={{ height: 800 }}>{story()}</div>,
    ReduxDecorator,
  ],
} as Meta

const env = setupMocks().env

export const Primary = () => {
  return <<%= featureName %>Entry env={env} />
}
